XML/Animales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="animales">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="animal" maxOccurs="unbounded">
                    <xs:complexType>
                        
                        <xs:sequence>
                            
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="edad" type="xs:int"></xs:element>
                            <xs:element name="raza" type="xs:string"></xs:element>
                            
                            <xs:element name="caracteristicas" type="xs:string" minOccurs="1"></xs:element>
                            <xs:element name="necesidadesEspeciales" type="xs:string" minOccurs="0"></xs:element>
                        
                        </xs:sequence>
                        
                        <xs:attribute name="idCentroAnimal" type="xs:boolean"></xs:attribute>
                        
                        <xs:attribute name="disponibilidad" type="xs:boolean"></xs:attribute>
                        
                        <xs:attribute name="idAnimal" type="xs:int" use="required"></xs:attribute>
                        
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>